In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pablo\appdata\local\programs\python\python313\lib\site-packages (9.2.0)

In [2]:
import mysql.connector as connector

In [3]:
# Replace user and password with your credentials

connection = connector.connect(user = "your_user", password = "your_password", db = 'littlelemondb')
print('Connection established')

Connection established

In [4]:
cursor = connection.cursor() 
cursor.execute('SHOW TABLES')
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('menu',), ('menuitems',), ('orderdeliverystatus',), ('orders',), ('ordersview',), ('staff',)]

In [5]:
join_query = """
SELECT Customers.FullName, Customers.Email, Customers.ContactNumber, Orders.TotalCost AS BillAmount FROM Customers
INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

cursor.execute(join_query)
print(cursor.column_names)
for x in cursor.fetchall():
    print(x)

('FullName', 'Email', 'ContactNumber', 'BillAmount')
('David Lee', 'david@example.com', '4449876543', Decimal('210.00'))
('Emma Davis', 'emma@example.com', '3337778899', Decimal('250.00'))